.o_form_label.strong{
    font-weight: bolder !important;
}
.o_menu_sections{
    width: 0;
    overflow: hidden;
}
.o_thread_window .o_thread_window_header {
    background: #295A55;
}
.modal{
    top:15px;
}
.modal-header {
    background: #fff !important;
    color: grey;
}
.modal-open .full{
    z-index: auto !important;
}
.o_ui_blocked .full{
    z-index: auto !important;
}
.o_web_client .o_mobile_search .o_mobile_search_header {
    background: #295A55 !important;
}
.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover {
    background-color: #295A55;
}on

.o_main_navbar {
    border-bottom: 1px solid #295A55;
    background: #295A55 !important;
}

.o_web_client .o_mobile_search {
    top: 75px;
}
// .dropdown-menu {
//     top: 75px;
// }

.home-apps-footer {
    bottom:0vw;
    width: 100%;
    text-align: center;
    position: fixed !important;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #295A55;
    height: 100px;

}
.home-apps-footer-logo {
    width: auto;

}
.home_client_company_logo{
    width: 100% !important;
    text-align: center !important;
}

.home_oe_client_company_logo {
    height: 100%;
}

.o_MessagingMenu_dropdownMenu.o-mobile {
    top: 75px;
}

.fa-send-o:before, .fa-paper-plane-o:before {
    content: "\f1d8" !important;
}
@include media-breakpoint-down(xl) {
    .o_cp_pager{
        display: block !important;
    }
    .button_close_keyboard{
        display: none;
    }
    .o_menu_sections{
        display: none !important;
    }
    .o_menu_sections.collapse.show {
        display: inherit !important;
    }

    .client_company_logo{
        padding: 10px 0;
        height: 75px;
        float: left;
        margin-left: 66px;
        background: $mk-appbar-background;
        width: calc(#{$mk-sidebar-large-width()} - 66px);
        > img {
            border-radius: 5px;
            max-width: 70%;
            width: auto;
            height: 55px;
            margin-bottom: 15px;
        }
    }
    .net_collapse_btn {
        float: right;
        font-size: 20px;
        padding-right: 15px;
    }
    .o_menu_systray > li {
        padding-top: 15px;
    }

    .o_main_navbar {
        height: 75px;
        background: #295A55 !important;
    }

    .o_menu_apps .full {
        background: $mk-appbar-background;
        height: 75px;
        color: #FFFFFF;
        padding-top: 15px;
        z-index: 1010;
    }

    .mk_apps_sidebar_menu{
        margin-top: 40px !important;
    }
    .o_main_content {
        padding: 15px;
    }
    .o_main_navbar > ul > li > a, .o_main_navbar > ul > li > label {
        color: #ffffff;
    }
    .o_menu_systray > li > a:hover, .o_menu_systray > li > label:hover{
         background-color: transparent !important;
    }

    .o_main_navbar .show .dropdown-toggle{
        background-color: transparent !important;
    }
    .home_client_company_logo{
        height: 7vw;
    }
    .home-apps-footer-logo {
        height: 5vw;
    }
}

@include media-breakpoint-down(lg) {
    .o_cp_pager{
        display: block !important;
    }
    .button_close_keyboard{
        display: none;
    }
    .o_menu_sections{
        display: none !important;
    }
    .o_menu_sections.collapse.show {
        display: inherit !important;
    }

    .o_main_navbar {
        height: 75px;
        background: #FFFFFF;
    }
    .o_menu_systray{
        padding-top: 15px;
    }
    .client_company_logo{
        padding: 10px 0;
        height: 75px;
        float: left;
        margin-left: 66px;
        background: $mk-appbar-background;
        width: calc(#{$mk-sidebar-large-width()} - 66px);
        > img {
            border-radius: 5px;
            max-width: 70%;
            width: auto;
            height: 55px;
            margin-bottom: 15px;
        }
    }
    .o_menu_apps .full {
        background: $mk-appbar-background;
        height: 75px;
        color: #FFFFFF;
        padding-top: 15px;
        z-index: 1010;

    }
    .o_main_content {
        padding: 15px;
    }
    .o_menu_systray .show .dropdown-toggle {
        background-color: transparent !important;
    }
    .o_main_navbar > ul > li > a, .o_main_navbar > ul > li > label {
        color: $mk-appbar-background;
    }
    .o_menu_systray > li > a:hover, .o_menu_systray > li > label:hover{
        background-color: transparent !important;
    }
    .o_main_navbar .show .dropdown-toggle{
        background-color: transparent !important;
    }
    .o_menu_systray > li {
        padding-top: 15px;
    }
    .home_client_company_logo{
        height: 7vw;
    }
    .home-apps-footer-logo {
        height: 5vw;
    }
}

@include media-breakpoint-down(md) {
    .o_cp_pager{
        display: block !important;
    }
    .button_close_keyboard{
        display: none;
    }
    .o_menu_sections{
        display: none !important;
    }
    .o_menu_sections.collapse.show {
        display: inherit !important;
    }
    .client_company_logo{
        height: 46px;
        width: 0;
    }
    .o_main_navbar {
        background-color:$mk-appbar-background;
    }
    .o_main_navbar > ul > li > a, .o_main_navbar > ul > li > label {
        color: #FFFFFF;
    }
    .o_menu_sections{
        width: auto;
        overflow: visible;
    }
    .home_client_company_logo{
        height: 10vw;
    }
    .home-apps-footer-logo {
        height: 10vw;
    }
    .o_main_navbar .o_menu_sections.show {
        margin-top: 75px;
    }
        //start hamburger
    .d-md-none{
        display: block !important;
    }
    .o_main_navbar > ul > li > a, .o_main_navbar > ul > li > label {
        color: #295A55;
    }
    .o_menu_systray .fa {
        color: #fff
    }
    .oe_topbar_name{
        display: none;
    }
    .o_main_navbar > ul > li > a:hover {
        background-color: #295A55;
        color: #fff;
    }
//     .o_main_navbar > ul.o_menu_systray {
//         margin-right: 35px;
//     }
    .o_main_navbar .show .dropdown-toggle{
        background-color: inherit !important;
        color: #295A55;
    }

    //end hamburger
}

@include media-breakpoint-down(sm) {
    .o_cp_pager{
        display: none !important;
    }
    .button_close_keyboard{
        display: block;
    }
    .o_menu_apps .dropdown-menu.show{
        margin-top: 75px;
    }
    .o_ChatWindow.o-fullscreen {
        height: calc(100% - 75px);
        width: 100%;
    }
    .breadcrumb-item{
        margin: 0 !important;
        padding: 0;
    }
    .client_company_logo {
        display: none;
    }
    .o_menu_brand{
        margin-left: 36px;
        margin-top: 15px;
        font-size: 18px;
    }
    .o_menu_sections{
        display: none !important;
    }
    .o_menu_sections.collapse.show {
        display: inherit !important;
    }
    .o_menu_sections{
        width: auto;
        overflow: visible;
    }
     .client_company_logo{
        width: 0;
    }
    .o_main_navbar {
        background-color:$mk-appbar-background;
    }
    .o_main_navbar > ul > li > a, .o_main_navbar > ul > li > label {
        color: #FFFFFF;
    }
    .o_menu_systray {
        margin-right:28px;
    }
    .o_thread_window .o_thread_window_header {
        height: 76px;
        padding-top: 25px;
        border-radius: 0px;
        background: #295A55;
        padding-left: 66px;

    }
    .o_main_navbar > ul.o_menu_systray > li .dropdown-menu.show {
        border: none;
        margin-top: 75px;
        padding-top: 0;
    }
    .o_main_navbar > ul.o_menu_systray {
        position: absolute;
        right: 5em;
    }
    .home_client_company_logo{
        height: 15vw;
    }
    .home-apps-footer-logo {
        height: 15vw;
    }

     .gm-control-active{
        top: -10px !important;
        left: -10px !important;
     }
     .gm-svpc{
        top: 90px !important;
        width: auto !important;
     }
     .o_main_navbar .o_menu_sections.show {
        margin-top: 75px;
     }
}

@include media-breakpoint-down(xs) {
    .o_cp_pager{
        display: block !important;
    }
    .button_close_keyboard{
        display: block;
    }
    .o_menu_apps .dropdown-menu.show{
        margin-top: 75px;
    }
    .o_ChatWindow.o-fullscreen {
        height: calc(100% - 75px);
        width: 100%;
    }
    .breadcrumb-item{
        margin: 0 !important;
        padding: 0;
    }
    .client_company_logo {
        display: none;
    }
    .o_menu_brand{
        margin-left: 36px;
        margin-top: 15px;
        font-size: 18px;
    }
    .o_menu_sections{
        display: none !important;
    }
    .o_menu_sections.collapse.show {
        display: inherit !important;
    }
    .o_main_navbar {
        background-color:$mk-appbar-background;
    }
    .o_main_navbar > ul > li > a, .o_main_navbar > ul > li > label {
        color: #FFFFFF;
    }
    .o_menu_systray {
        margin-right:28px;
    }
    .o_thread_window .o_thread_window_header{
        height: 76px;
        padding-top: 25px;
        border-radius: 0px;
        background: #295A55;
        padding-left: 66px;

    }
    .o_main_navbar > ul.o_menu_systray > li .dropdown-menu.show {
        border: none;
        margin-top: 75px;
        padding-top: 0;
    }
    .o_main_navbar > ul.o_menu_systray {
        position: absolute;
        right: 5em;
    }
    .home_client_company_logo{
        height: 15vw;
    }
    .home-apps-footer-logo {
        height: 15vw;
    }

    .gm-fullscreen-control{
       display: none !important;

    }
     .gm-control-active{
        top: -10px !important;
        left: -10px !important;
     }
     .gm-svpc{
        top: 170px;
     }
     .o_menu_systray {
		    margin-left: -2px;
		}
		.o_main_navbar .o_user_menu > a{
		    position: absolute;
		}
		.o_main_navbar .o_user_menu img {
            margin-bottom: 7px !important;
            margin-right: 2px;
            margin-left: -8px !important;
          }
     .o_main_navbar .o_menu_sections.show {
        margin-top: 75px;
     }
}

@include media-breakpoint-down(sm) {
    .o_main_navbar {
		display: flex;
		> .dropdown {
		    display: flex;
		    .navbar-toggler {
		        background-color: white;
		    }
		    .o_menu_sections, .o_menu_systray {
		        padding: 0;
		    }
		}
		.o_menu_systray {
		    margin-left: -2px;
		}
		.o_main_navbar .o_user_menu > a{
		    position: absolute;
		}
		.o_main_navbar .o_user_menu img {
            margin-bottom: 7px !important;
            margin-right: 2px;
            margin-left: -8px !important;
        }
		.o_debug_manager {
			.dropdown-menu.show {
				@include mk-full-screen-sections();
			}
		}
		.o_user_menu, .o_switch_company_menu {
			> .dropdown-toggle {
				padding: 0 10px;
				white-space: nowrap;
				&::before, &::after {
		            content: normal;
		        }
			}
			.dropdown-menu.show {
				@include mk-full-screen-sections();
			}
		}
		.o_user_menu img {
			margin-bottom: 3px;
		}
// 		.o_menu_brand, .o_menu_sections, .oe_topbar_name {
// 		    display: none;
// 		}
		.o-menu-toggle {
		    cursor: pointer;
		    padding: 0 $o-horizontal-padding;
		}
		.o_mail_systray_dropdown.show {
		    @include mk-full-screen-sections();
		    .o_mail_preview_image {
		        align-items: center;
		        display: flex;
		        flex-direction: row;
		        img {
		            display: block;
		            height: auto;
		        }
		    }
		}
		.dropdown-menu .dropdown-item {
		    padding: {
		        bottom: 0.5rem;
		        top: 0.5rem;
		    }
		}
		.o_menu_sections.show {
		    @include mk-full-screen-sections();
		    background: $mk-brand-gradient;
            .dropdown-toggle, .dropdown-item {
			    padding: 0;
		    	color: white;
		    	height: 66px;
			    line-height: 46px;
				background: none;
				span {
            		padding-left: 15px;
					font-size: initial;
				}	
			} 
            .mk_menu_mobile_section {
            	.fa {
            		padding-top: 14px;
            		padding-right: 15px;
	            }
			    .dropdown-menu {
				    padding: 0;
				    width: 100%;
				    border: none;
		            min-width: auto;
				    box-shadow: none;
				    background: none;
				    position: static;
				    overflow: visible;
		        }
			    @for $index from 1 through 5 {
	                .o_menu_entry_lvl_#{$index} {
	                    margin-left: ($index - 1) * 1.5rem;
	                }
	            }
	           	@for $index from 2 through 5 {
	                .o_menu_header_lvl_#{$index} {
	                    margin-left: ($index - 1) * 1.5rem;
	                }
	            }
	            .footer{
                     display: none;
                 }

		   	}

		}
    }
}

.mk_sidebar_type_small {
    .client_company_logo {
        display: none;
    }
}

.mk_menu_sections_toggle {
    z-index: 1020;
    position: absolute;
    top: 15px;
    right: 0;
}
.o_main_navbar > a:hover, .o_main_navbar > a:focus, .o_main_navbar > button:hover, .o_main_navbar > button:focus {
   background-color: transparent !important;
}
a[data-menu-xmlid="dsk_material_request.mr_orders_menu"],
a[data-menu-xmlid="dsk_asset_capture.ac_orders_menu"],
a[data-menu-xmlid="dsk_repair_request.rma_orders_menu"],
a[data-menu-xmlid="dsk_tac_request.tac_orders_menu"],
{
    color: #E0F3FF !important;
}
.modal.o_technical_modal.o_modal_full .modal-dialog .modal-content .modal-header .modal-title, .modal.o_technical_modal.o_modal_full .modal-dialog .modal-content .modal-header .o_subtitle, .modal.o_technical_modal.o_modal_full .modal-dialog .modal-content .modal-header button.close{
    color: #295A55 !important;
}
.modal {
    top: 0 !important;
}
.o_form_view .o_group .o_form_label {
    font-weight: bold;
}
.custom-control-label::before {
    position: absolute;
//     top: 0.6rem !important;
}
