$o-community-color: #295A55;
$o-community-color-dark: #295A55;
$o-brand-odoo: $o-community-color;
$o-brand-primary: $o-community-color;
$sm-brand-primary: #295A55;
$sm-second-primary: #295A55;
$o-enterprise-primary-color: $sm-brand-primary;
$button-color: $sm-brand-primary;
$button-color-hover: #295A55;
$loading-color: #295A55;
$required-field-color: #295A55;
$lato-font-path: '../fonts/Lato';
@mixin lato-font($type, $weight, $style) {
    @font-face {
        font-family: 'Lato';
        //src: url('#{$lato-font-path}/Lato-#{$type}-webfont.eot');
        src: url('#{$lato-font-path}/Lato-#{$type}.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
    @font-face {
        font-family: 'Lato-#{$type}';
        //src: url('#{$lato-font-path}/Lato-#{$type}-webfont.eot');
        src: url('#{$lato-font-path}/Lato-#{$type}.ttf') format('truetype');
    }
}

@mixin lato-font-pair($type,
$weight) {
    @include lato-font('#{$type}',
    $weight,
    normal);
    @include lato-font('#{$type}Ita',
    $weight,
    italic);
}

@include lato-font-pair('Hairline',
100);
@include lato-font-pair('Light',
300);
@include lato-font-pair('Regular',
400);
@include lato-font-pair('Bold',
700);
@include lato-font-pair('Black',
900);
$open-sans-font-path: '../fonts/OpenSans';
@mixin open-sans-font($type,
$weight,
$style) {
    @font-face {
        font-family: 'OpenSans';
        src: url('#{$open-sans-font-path}/OpenSans-#{$type}.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
    @font-face {
        font-family: 'OpenSans-#{$type}';
        src: url('#{$open-sans-font-path}/OpenSans-#{$type}.ttf') format('truetype');
    }
}

@mixin open-sans-font-pair($type,
$weight) {
    @include open-sans-font('#{$type}',
    $weight,
    normal);
    @include open-sans-font('#{$type}Italic',
    $weight,
    italic);
}

@include open-sans-font-pair('Light',
200);
@include open-sans-font-pair('Regular',
400);
@include open-sans-font-pair('Semibold',
700);
@include open-sans-font-pair('Bold',
700);
@include open-sans-font-pair('ExtraBold',
900);
$font-family-sans-serif: -apple-system,
BlinkMacSystemFont,
OpenSans !default;
$font-family-monospace: SFMono-Regular,
Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace !default;
$font-family-base: $font-family-sans-serif !default;